# Create '~/docker-data/hero-rider-postgres' and '~/docker-data/hero-rider-redis'
# directories before starting the containers
# Don't forget to change the password! (POSTGRES_PASSWORD env variable)

version: '3'
services:
  postgresql:
    image: 'postgres:13-alpine'
    container_name: 'db_container_name'
    environment:
      POSTGRES_PASSWORD: 'not_secure'
    ports:
        - '5432:5432'
    networks:
      - martians-library-services-network
    volumes:
      - '~/docker-data/martians-library-postgres:/var/lib/postgresql/data'

networks:
  martians-library-services-network:
    driver: bridge

volumes:
  postgres:
